Abg==2.3.1
pymongo
motor
requests
dnspython
pyrogram==2.0.106
tgcrypto
heroku3
asyncio
python-dotenv
lexica-api
deep-translator
pycgi
apscheduler
Flask
uvloop
psutil
langdetect
speedtest-cli
aiohttp
gitpython
git+https://gitlab.com/badmunda98/BadAPI
