Abg==2.3.1
pymongo
motor
pycgi
asyncio
speedtest-cli
requests
dnspython
pyrogram==2.0.106
tgcrypto
heroku3
python-dotenv
lexica-api
deep-translator
apscheduler
Flask
psutil
langdetect
aiohttp
gitpython
git+https://gitlab.com/badmunda98/BadAPI
